@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,500,900&display=swap");
*{
	padding: 0;
	margin: 0;
	list-style: none;
}


:root {
    --base-hue: 255;
    --base-hue-deg: 255deg;
}


body{
	font-family: 'Noto Sans TC', sans-serif;
	position: relative;
	height: 100%;
	background: hsl(var(--base-hue),10%,10%);
}

.nav-menu{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: transparent;
	position: fixed;
	z-index: 5;
	transition: .4s;
}

.nav-menu-active{
	background-color: rgb(86,57,172);
}

.nav-icon{
	width: 70px;
	height: 70px;
	transition: .3s;
}

.nav-icon-active{
	width: 30px;
	height: 30px;
}



.nav-menu-function ul,
.nav-menu-player ul{
	display: flex;
}

.nav-menu-function ul li,
.nav-menu-player ul li{
	margin: 10px 10px;
	color: #fff;
	display: flex;
	align-items: center;
}

.nav-menu-function ul li a,
.nav-menu-player ul li a{
	color: #fff;
	text-decoration: none;
	font-weight: 300;
}

.bg-container{
	width: 100%;
	height: 1200px;
}

.bg-container-up{
	background: linear-gradient(#e66465, #9198e5);
	height: 15%;
}

.bg-container-mid{
	background: hsl(var(--base-hue),10%,10%);
	height: 85%;
}


.main-container{
	width: 100%;
	position: absolute;
	/*height: 1278px;*/
	top: 120px;
	left: 0px;
	right: 0px;
	/*background: hsl(var(--base-hue),10%,15%);*/
	z-index: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.page-header{
	width: 80%;
	height: 50px;
	display: flex;
	align-items: center;
	background: hsl(var(--base-hue),10%,15%);
}

.page-header .txt{
	margin-left: 40px;
	letter-spacing: 1px;
	color: #fff;
}

.page-select{
	width: 80%;
	background: hsl(var(--base-hue),20%,20%);
	height: 50px;
}

.page-select ul{
	display: flex;
	line-height: 50px;
	margin-left: 20px;
}

.page-select ul li + li{
	margin-left: 10px;
}

.page-select ul li a{
	color: hsl(var(--base-hue),40%,80%);
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
}

.page-content{
	width: 80%;
	background: hsl(var(--base-hue),20%,15%);
	display: flex;
	padding-bottom: 50px;
}

.page-content .page-content-left{
	width: 55%;
	margin-left: 40px;
}

.page-content-left .title{
	margin: 10px 0;
	color: #fff;
	font-size: 20px;
}

.page-content-left .item{
}

.page-content-left .item + .item{
	margin-top: 10px;
}

.page-content-left .item .image {
	width: 100%;
	height: 130px;
}
.page-content-left .item .image img{
	max-width: 535px;

}

.page-content-left .item .txt{
	display: flex;
	flex-direction: row;
	background: hsl(var(--base-hue),10%,20%);
}

.item .txt .txt-date{
	width: 54px;
	color: #fff;
	text-align: right;
	margin: 5px 0;
	margin-right: 5px;
	padding-right: 10px;
	border-right: 1px solid #aaa;
}

.item .txt .txt-date-day{
	font-size: 14px;
}

.item .txt .txt-date-month,
.item .txt .txt-date-year{
	font-size: 12px;
}

.item .txt .txt-content{
	width: 450px;
	color: #fff;
	margin-left: 5px;
}

.item .txt .txt-content h2{
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.item .txt .txt-content p{
	font-size: 13px;
	margin-bottom: 5px;
	font-weight: 100;
}

.item-list{
	background: hsl(var(--base-hue),10%,20%);
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.item-list .txt{
	display: flex;
	align-items: center;
}

.item-list .txt .txt-date{
	width: 44px;
	color: #fff;
	text-align: right;
	margin: 5px 10px;
	padding-right: 10px;
	border-right: 1px solid #aaa;
	display: flex;
	justify-content: space-between;
	font-size: 14px;

}

.item-list .txt .txt-content{
	width: 450px;
	color: #fff;
	margin-left: 2px;
	font-size: 12px;
}

.item-list .txt .txt-content h2{
	font-size: 14px;
	font-weight: 200;
}

.item-more{
	width:  100%;
	height: 80px;
	margin-top: 10px;
	background: hsl(var(--base-hue),10%,20%);
	display: flex;
	justify-content: center;

}

.item-more a{
	line-height: 80px;
	text-decoration: none;
	color: #fff;
	font-weight: 200;
}

.page-content .page-content-right{
	width: 35%;
	height: 800px;
	background: hsl(var(--base-hue),10%,20%);
	margin-left: 20px;
	margin-right: 20px;
}

.page-footer{
	background: hsl(var(--base-hue),10%,15%);
	height: 100px;
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 20px;
}

.page-footer .txt{
	color: #fff;
	font-size: 14px;
}

.page-footer .txt ul{
	display: flex;
}

.page-footer .txt ul li{
	margin: 7px 10px;
}

/* Article page css */

.article-content{
	padding: 10px 30px;
	color: #fff;
}

.article-content-bg-img img{
	width: 100%;
}

.article-content-normal-word{
	margin-top: 20px;

}

.article-content-normal-word p{
	line-height: 1.8;
	font-weight: 200;
}

.article-content-title{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 24px;
}

.article-content-character{
	width: 100%;
	font-weight: 200;
}

.article-content-character table{
	width: 100%;
	border: 1px solid #aaa;
}


.article-content-character table tr td{
	border: 1px solid #aaa;
	text-align: center;
}

.article-content-character table tr td:first-child{
	width: 35%;
}

.article-content-character table tr td:last-child{
	width: 65%;
	padding: 10px 10px;
	text-align: left;
}

.article-content-mid-img{
	
}

.article-content-mid-img img{
	display: inline;
	width: 49%;
	border: 1px solid #333;
}


.article-content-small-title{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 20px;
}

.emphasize{
	color: #ff0;
	font-weight: 400;
}

/* article chapter menu */

.chapter-menu{
	position: fixed;
	left: -120px;
	top: 30vh;
	cursor: pointer;

}
.chapter-menu-content{
	float: left;
	background: hsl(var(--base-hue),10%,20%);
	padding: 10px 0px;
}

.chapter-menu-content ul li{
	list-style-type: none;
	width: 120px;
	text-align: left;
}

.chapter-menu-content ul li a{
	text-decoration: none;
	color: #fff;
}

.chapter-menu-button{
	color: #fff;
	float: left;
	font-size: 40px;
	display: flex;
	justify-content: center;
	position: relative;
}

.chapter-menu-button:before{
	content: '章節選單';
	position: absolute;
	color: #fff;
	font-size: 14px;
	bottom: -35px;
	left: 2px;
	right: 2px;
	text-align: center;
}





@media only screen and (max-width: 800px){
	.article-content-mid-img img{
		display: block;
		width: 100%;
		border: 1px solid #333;
	}

}
